* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#logo {
    font-size: 36px;
    font-weight: bold;
    color: #27AE60;
}

#highlight {
    color: #308bc7;
}

#headerTitle {
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    opacity: 1;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#overlay {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: aliceblue;
}

#headerTitle:hover #overlay {
    opacity: .8;
}

#textTitle {
    position: absolute;
    color: black;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#aboutSection {
    flex: 1;
    margin-left: 70px;
}

h2 {
    margin-bottom: 10px;
}

footer {
    background-color: cadetblue;
}

ul {
    list-style: none;
    margin:0;
    padding:0;
}